.header {
    background-color: var(--color-black);
    padding: 0 40px;
    margin-bottom: 20rem;
}

.header-h1 {
    font-family: var(--font-base);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 80px;
}

.wrapper-img img{
    width: 20vw;
    border-radius: 35px;
    border: 3px solid #fff;
}


@media screen and (max-width: 1150px){
    .header-h1{
        font-size: 50px;
        line-height: normal;
    }

    .wrapper-img img{
        width: 25vw;
        height: 40vh;
        margin-right: 40px;
    }
} 

@media screen and (max-width: 900px) {
    .header{
        margin-bottom: 11rem;
        position: relative;
        top: -1rem;
    }

    .header-h1{
        font-size: 40px;
        line-height: normal;
    }

    .header{
        display: flex;
        flex-direction: column;
    }
    .wrapper-img img{
        width: 50vw;
        height: 50vh;
        margin: 100px;
        margin-bottom: 200px;
    }

    .wrapper-info p{
        width: 40vw;
    }
}

@media screen and (max-width: 650px) {
    .header{
        margin-top: 30px;
    }
    .header-h1{
        font-size: 30px;
        line-height: normal;
    }

    .header{
        position: relative;
        left: -10%;
    }

    .wrapper-info p{
        width: 60vw;
    }

    .wrapper-img img{
        width: 80vw;
        height: 50vh;
        margin-top: 70px;
        margin-left: 10rem;
        margin-bottom: 0;
    }

}